@font-face {
    font-family: "Jost";
    src: url('../fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
    font-variation-settings: "wght" 100;
}

@font-face {
    font-family: 'Bugatti';
    src: url('../fonts/bugatti-regular.woff2') format('woff2'),
    url('../fonts/bugatti-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Reey';
    src: url('../fonts/reey-regular.woff2') format('woff2'),
    url('../fonts/reey-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

